LOCALE=en-us
MAX_PARALLEL=5

DATABASE_URL=postgresql://user:password@localhost:5432/database

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/example

NO_GENSHIN=False
NO_STARRAIL=False
NO_ZZZ=False
NO_HONKAI=False
NO_TOT=True
